USE [master]
GO
/****** Object:  Database [Travel1]    Script Date: 08/12/2025 22:53:33 ******/
CREATE DATABASE [Travel1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Harmic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Travel1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Harmic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Travel1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Travel1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Travel1]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[LastLogin] [nchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_AdminUser]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_AdminUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tb_AdminUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Blog]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[AccountId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[DayCreated] [int] NULL,
	[MonthCreated] [nvarchar](50) NULL,
	[CountView] [int] NULL,
 CONSTRAINT [PK_tb_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BlogComment]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BlogComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[BlogId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_BlogComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[Avatar] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
	[LastLogin] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Menu]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Levels] [int] NULL,
	[ParentId] [int] NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](250) NULL,
	[TotalAmount] [int] NULL,
	[Quanlity] [int] NULL,
	[OrderStatusId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_tb_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderDetail]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[TourId] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderStatus]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Role]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Slide]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Slide](
	[SlideID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Tour]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Tour](
	[TourId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CategoryTourId] [int] NULL,
	[Description] [nvarchar](4000) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](500) NULL,
	[Price] [int] NULL,
	[PriceSale] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[Star] [int] NULL,
	[Location] [nvarchar](150) NULL,
	[TimeTravel] [int] NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TourCategory]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TourCategory](
	[CategoryTourId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Alias] [nvarchar](150) NULL,
	[Description] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryTourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TourReview]    Script Date: 08/12/2025 22:53:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TourReview](
	[ProductReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Detail] [nvarchar](200) NULL,
	[Star] [int] NULL,
	[ProductId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_ProductReview] PRIMARY KEY CLUSTERED 
(
	[ProductReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive], [Image], [Description]) VALUES (5, N'Trần Ngọc Hải', N'admin123', N'Administrator', N'0961866735', N'trankenn04@gmail.com', 1, N'2024-10-01', 1, N'kenn.jpg', N'Hưỡng dẫn viên')
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive], [Image], [Description]) VALUES (6, N'Hà Văn Hiệp', N'd0afd43f169f68af6d56cf454d74b167', NULL, NULL, N'123@gmail', NULL, NULL, 1, N'hiep.jpg', N'Hưỡng dẫn viên')
INSERT [dbo].[tb_Account] ([AccountId], [Username], [Password], [FullName], [Phone], [Email], [RoleId], [LastLogin], [IsActive], [Image], [Description]) VALUES (11, N'Trương Bá Sơn', NULL, NULL, NULL, NULL, NULL, NULL, 1, N'sonsoi.jpg', N'Hưỡng dẫn viên')
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_AdminUser] ON 

INSERT [dbo].[tb_AdminUser] ([UserID], [UserName], [Email], [Password], [IsActive]) VALUES (1, N'Kenn', N'Trankenn04@gmail.com', N'123', 1)
INSERT [dbo].[tb_AdminUser] ([UserID], [UserName], [Email], [Password], [IsActive]) VALUES (2, N'123', N'231@gmail.com', N'c43049942bd1f7a86b407fab75f1b3a2', 1)
SET IDENTITY_INSERT [dbo].[tb_AdminUser] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Blog] ON 

SET IDENTITY_INSERT [dbo].[tb_Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BlogComment] ON 

INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive], [Image]) VALUES (1, N'Mynambut', N'1321314', N'clonemail@gmail.com', CAST(N'2025-06-30T00:00:00.000' AS DateTime), N'Tour du lịch này rất vui', 9, 1, N'Butngu.jpg')
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive], [Image]) VALUES (2, N'tuban', N'0123512', N'tubanlo@gmail.com', CAST(N'2025-05-30T00:00:00.000' AS DateTime), N'Nhật bản rất thơ', 9, 1, N'sonsoi.jpg')
INSERT [dbo].[tb_BlogComment] ([CommentId], [Name], [Phone], [Email], [CreatedDate], [Detail], [BlogId], [IsActive], [Image]) VALUES (3, N'callmedinhtu', N'0231241', N'tugay@gmail.com', CAST(N'2025-05-30T00:00:00.000' AS DateTime), N'Blog rất hay', 9, 1, N'tugay.jpg')
SET IDENTITY_INSERT [dbo].[tb_BlogComment] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([CategoryId], [Title], [Alias], [Description], [Position], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'news', N'tin-tuc', N'News Expertise', 1, N'news', N'SEO Description for News', N'news, blog', CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Contact] ON 

INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2015, N'TRAN NGOC HAI', N'0961866735', N'trankenn04@gmail.com', N'Thông tin các tour chi tiết và rõ ràng. Cảm ơn trang web đã giúp mình chọn được kỳ nghỉ lý tưởng.', NULL, CAST(N'2025-06-15T20:28:31.503' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2016, N'TRUONG BA SON', N'0123145678', N'sonclone1@gmail.com', N'Trang web load nhanh, không bị lỗi. Trải nghiệm người dùng rất tốt.', NULL, CAST(N'2025-06-15T20:29:08.463' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tb_Contact] ([ContactId], [Name], [Phone], [Email], [Message], [IsRead], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2017, N'NGUYEN VAN TUAN', N'01231245623', N'tuanclone1@gmail.com', N'Nên cập nhật thêm nhiều tour mới hơn, đặc biệt là các tour nước ngoài.', NULL, CAST(N'2025-06-15T20:29:42.293' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Menu] ON 

INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (2, N'Về chúng tôi', N'About', N'About', 1, 1, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (3, N'Dịch vụ', N'Services', N'Services', 1, 1, 3, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tb_Menu] ([MenuId], [Title], [Alias], [Description], [Levels], [ParentId], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (4, N'Gói Tour', N'Tour-Packages', N'Tour Packages', 1, 1, 4, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_News] ON 

SET IDENTITY_INSERT [dbo].[tb_News] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Role] ON 

INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Administrator')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (2, N'Editor', N'Editor')
INSERT [dbo].[tb_Role] ([RoleId], [RoleName], [Description]) VALUES (3, N'Customer', N'Customer')
SET IDENTITY_INSERT [dbo].[tb_Role] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Slide] ON 

INSERT [dbo].[tb_Slide] ([SlideID], [Title], [Alias], [Image], [IsActive]) VALUES (1, N'Hãy cùng khám phá thế giới', N'Hay-cung-kham-pha-the-gioi', N'carousel-1.jpg', 1)
INSERT [dbo].[tb_Slide] ([SlideID], [Title], [Alias], [Image], [IsActive]) VALUES (2, N'Khám phá những địa điểm tuyệt vời cùng chúng tôi', N'Kham-pha-nhung-dia-diem-tuyet-voi-cung-chung-toi', N'carousel-2.jpg', 1)
INSERT [dbo].[tb_Slide] ([SlideID], [Title], [Alias], [Image], [IsActive]) VALUES (4, N'Hãy cùng nhau khám phá thế giới', N'Hay-cung-nhau-kham-pha-the-gioi', N'carousel-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[tb_Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Tour] ON 

SET IDENTITY_INSERT [dbo].[tb_Tour] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_TourCategory] ON 

INSERT [dbo].[tb_TourCategory] ([CategoryTourId], [Title], [Alias], [Description], [Position], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsActive]) VALUES (1, N'Du lịch trong nước', N'du-lich-trong-nuoc', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis velit bibendum, ultricies lectus nec, interdum lectus. Maecenas quis urna erat. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus.', 1, CAST(N'2024-10-16T00:00:00.000' AS DateTime), N'admin', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tb_TourCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_TourReview] ON 

INSERT [dbo].[tb_TourReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive], [Image]) VALUES (1, N'Tuban', N'012345678', N'tuban@gmail.com', CAST(N'2024-11-29T00:00:00.000' AS DateTime), N'Tưởng anh trong Hanwha Life Esports', 5, 27, 1, N'sonsoi.jpg')
INSERT [dbo].[tb_TourReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive], [Image]) VALUES (2, N'MyNameBut', N'012345125', N'clonemail@gmail.com', CAST(N'2024-11-30T00:00:00.000' AS DateTime), N'Nhai khá ngon', 5, 27, 1, N'Butngu.jpg')
INSERT [dbo].[tb_TourReview] ([ProductReviewId], [Name], [Phone], [Email], [CreatedDate], [Detail], [Star], [ProductId], [IsActive], [Image]) VALUES (3, N'CallMeDinhTu', N'012314512', N'Tugay@gmail.com', CAST(N'2024-11-30T00:00:00.000' AS DateTime), N'Không giòn', 3, 27, 1, N'tugay.jpg')
SET IDENTITY_INSERT [dbo].[tb_TourReview] OFF
GO
ALTER TABLE [dbo].[tb_Blog] ADD  DEFAULT ((0)) FOR [CountView]
GO
ALTER TABLE [dbo].[tb_Account]  WITH CHECK ADD  CONSTRAINT [FK_tb_Account_tb_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tb_Role] ([RoleId])
GO
ALTER TABLE [dbo].[tb_Account] CHECK CONSTRAINT [FK_tb_Account_tb_Role]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[tb_Account] ([AccountId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Account]
GO
ALTER TABLE [dbo].[tb_Blog]  WITH CHECK ADD  CONSTRAINT [FK_tb_Blog_tb_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tb_Blog] CHECK CONSTRAINT [FK_tb_Blog_tb_Category]
GO
ALTER TABLE [dbo].[tb_BlogComment]  WITH CHECK ADD  CONSTRAINT [FK_tb_BlogComment_tb_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[tb_Blog] ([BlogId])
GO
ALTER TABLE [dbo].[tb_BlogComment] CHECK CONSTRAINT [FK_tb_BlogComment_tb_Blog]
GO
ALTER TABLE [dbo].[tb_News]  WITH CHECK ADD  CONSTRAINT [FK_tb_News_tb_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tb_Category] ([CategoryId])
GO
ALTER TABLE [dbo].[tb_News] CHECK CONSTRAINT [FK_tb_News_tb_Category]
GO
ALTER TABLE [dbo].[tb_Order]  WITH CHECK ADD  CONSTRAINT [FK_tb_Order_tb_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[tb_OrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[tb_Order] CHECK CONSTRAINT [FK_tb_Order_tb_OrderStatus]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tb_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Order]
GO
ALTER TABLE [dbo].[tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tb_OrderDetail_tb_Product] FOREIGN KEY([TourId])
REFERENCES [dbo].[tb_Tour] ([TourId])
GO
ALTER TABLE [dbo].[tb_OrderDetail] CHECK CONSTRAINT [FK_tb_OrderDetail_tb_Product]
GO
ALTER TABLE [dbo].[tb_Tour]  WITH CHECK ADD  CONSTRAINT [FK_tb_Product_tb_ProductCategory] FOREIGN KEY([CategoryTourId])
REFERENCES [dbo].[tb_TourCategory] ([CategoryTourId])
GO
ALTER TABLE [dbo].[tb_Tour] CHECK CONSTRAINT [FK_tb_Product_tb_ProductCategory]
GO
ALTER TABLE [dbo].[tb_TourReview]  WITH CHECK ADD  CONSTRAINT [FK_tb_ProductReview_tb_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tb_Tour] ([TourId])
GO
ALTER TABLE [dbo].[tb_TourReview] CHECK CONSTRAINT [FK_tb_ProductReview_tb_Product]
GO
USE [master]
GO
